body{
  background-color: #080808;
  color: #f0f0f0;
  font-family: Verdana, sans-serif;
}

#social_bar {
  margin-top: 30px;
  padding: 30px 50px;
  border-top: 1px solid #282828;

  .facebook, .twitter {
    display: inline-block;
    height: 30px;
    margin-right: 15px;
  }
}